html
  head
    title geoMessage
    link(rel='stylesheet' href='public/dist/main.min.css')
  body
    form(action='/geo' method='POST')
      h1 type a message
      textarea(name='msg')
      h3 your position:
      label(for='latitude') Latitude:
      input#lat(name='lat')
      label(for='longitude') Longitude:
      input#lon(name='lon')
      button(type='submit') Submit

    script(src='//localhost:35729/livereload.js')
    script(src='public/dist/main.min.js')