html
  head
    title nodeboi
    link(rel='stylesheet' href='public/dist/main.min.css')
  body
    h1 nodeboi

    script(src='//localhost:35729/livereload.js')
    script(src='public/dist/main.min.js')